<a href="https://colab.research.google.com/github/rena-tech/for-copy/blob/main/station1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

| Version | Published Date| Details |
| -- | -- | -- |
| ver.1.0.0 | 2024/02/14 | 初版リリース |

**↓必ず最初にセットアップ用のセルを実行し、完了（セルの左端にチェックマーク）してから取り組んでください。**

In [ ]:
!git clone https://github.com/TechBowl-japan/SQLRailway-setup.git
!sudo sh ./SQLRailway-setup/setup.sh
%load_ext sql
%sql mysql+pymysql://root:root@localhost:3306/sql_railway

# SQL Railway へようこそ！

Railway は実践型の開発ドリルです。Station と呼ばれるいくつかの設問から構成されています。SQL Railway ではデータ分析の基本である SQL を学びます。

## はじめに

データ分析は近年注目されているビジネススキルのひとつです。ビジネスの課題解決を直感や経験に頼って行うのではなく、データからその課題を捉え直し、データを用いて課題解決をすることが求められています。さまざまなデータが蓄積されるようになった現代において、データ分析の重要性はますます高まっています。データを分析するには、まずデータを取得する必要があります。これまで、データを取り扱う業務はエンジニアの仕事でした。しかし、データ分析の重要性が高まるにつれ、データを取得する業務はエンジニアだけでなく、データ分析を行うすべてのビジネスメンバーにも求められるようになってきました。多くの企業や組織において、データはデータベースと呼ばれるシステムに蓄積されています。データベースに蓄積されたデータを取得するために必要な技術こそが SQL（エスキューエル）です。SQL はクエリと呼ばれる短いプログラムを用いてデータベースから任意の形式でデータを取り出す技術です。この技術を使いこなせるようになれば、エンジニアの手を借りずともデータを活用した課題解決に取り組むことができるようになります。

SQL にはエンジニアがアプリケーション開発のために利用する機能がたくさんありますが、ビジネススキルとしては基本的にデータを取得するための機能を使いこなせれば十分です。そこで、本 Railway では、データを取得するための機能を中心に学習を進めます。


## SQLとは

このRailwayのタイトルにもなっている「SQL」。SQLとは「Structured Query Language(構造化クエリ言語)」の略です。日本語では「エスキューエル」と呼ぶことが多いですが、英語では「シークル」と発音されます。どちらも正しいので、どちらでも構いません。

このSQLを使ってデータベースに問い合わせて、欲しいデータを取得します。

## リレーショナルデータベース (RDB)

データベースにもいくつか種類があり、SQLで操作できるのはリレーショナルデータベース（RDB）というデータベースです。

リレーショナルデータベースとはデータを表形式で保存し、表と表の関連を定義するデータベースのことです。

この表ひとまとまりのことをテーブルと呼びます。

MySQL、PostgreSQL、SQLite、Oracle Databaseなどのデータベースが有名です。これらのデータベースはそれぞれ強みがあり、用途によって使い分けられています。SQLの文法はどのデータベースでも共通していますが、データベースによっては使えない機能もありますので、注意が必要です。

このRailwayではMySQLを使います。基本的なSQLの文法を取り扱うため、他のデータベースでも同じように使えるものがほとんどですが、一部MySQL固有のものもあります。その場合は、MySQL固有のものであることを明記します。

# データを取り出してみよう

この Station ではデータベースに登録されているテーブルからデータを取り出すための基本である `SELECT` 文の取り扱いについて学びます。

## SELECT文をつかおう

データベースからデータを取り出すには `SELECT` 文を使います。
まずは次のセルを実行してみましょう。

In [ ]:
%sql SELECT * FROM users;

ユーザー一覧が表形式で出力されれば成功です。もしうまく表示されない場合は、このファイルの先頭にある セットアップ用のセル を実行していない可能性があります。必ず実行してから取り組んでください。

実行したクエリについて説明します。

データを取り出す場合は `SELECT` をはじめに宣言します。その後ろに、どのようなデータを、どのような形式で取り出すかを指定します。

データベースのテーブルには、複数の列があります。この列のことをカラムと呼びます。カラムはそれぞれ名前がついています。この名前を指定することで、そのカラムのデータを取り出すことができます。また行のことをレコードと言います。

![station1_01](https://drive.google.com/uc?id=1a7dDvR_fLa71wA0oWiwsmh2FirWA8PPq)

ここで指定されている `*` は「全て」ということを表ています。つまり、`SELECT *` は全ての列を参照するという意味になります。

次に、`FROM` でどのテーブルから取り出すかを指定します。この例では `users` という名前のテーブルから取得しています。

とりだすレコードについては特に指定をしていないので、テーブルに登録されている全てのレコードを取得します。

取り出したデータのカラムを見ると `id`, `name`, `birthday`, `nickname`, `created_at`, `updated_at` があることが確認できます。これらはテーブルのカラムです。`*` を指定したので全てのカラムが取得されています。

次はこれらのカラムのうち、`name` と`birthday` のみ取得してみましょう。

In [ ]:
%sql SELECT name, birthday FROM users;

`SELECT` 文の次に取得したいカラムを指定しました。カラムは `,` で区切って複数指定することができます。最後のカラムには `,` をつけないように注意してください。

##  テーブルを一覧表示してみよう

先ほどの例では `users` というテーブルからデータを取得しました。しかし、データベースに用意されているテーブル名をすべて覚えておいたり、確認するのは大変です。そこで、テーブルを一覧表示する方法を学びます。

データベースには通常、複数のテーブルが登録されています。これらのテーブルを確認するには `SHOW tables` を実行します。

In [ ]:
%sql SHOW tables;

## カラムの定義を確認してみよう

次はテーブルのカラムを確認する方法について学びます。
テーブルにはたくさんのカラムが用意されています。それぞれの定義は `DESCRIBE` を使って確認することができます。

※ `SHOW columns` や `SHOW fields` でも同じことができます。

さまざまな情報が出力されますが、いまはカラムの名称さえ確認できれば問題ありません。

In [ ]:
%sql DESCRIBE users;

なお、これらはあくまでMySQLのみで、PostgreSQLやSQLiteなどでは方法は異なるので注意です。それぞれのリファレンスを確認してください。

## 取り出すデータの件数をコントロールしよう

この教材で利用しているデータベースの users テーブルには数十件のレコードが登録されています。しかし、実際はこの程度のレコード数であることはまずないでしょう。もしこれが数万件、数百万件というデータベースであった場合、どうなるでしょうか。もし同じようなクエリを実行した場合、すべてのデータが取り出されるまでにかなりの時間がかかりますし、取り出したデータを見るのも大変です。そもそもデータベースに負荷をかけすぎてしまう可能性もあります。つまり、取り出すデータの件数を制限することは非常に重要です。

取り出すデータの一部分（先頭から20件など）を取得するには次のように `LIMIT` を指定します。

In [ ]:
%sql SELECT * FROM users LIMIT 20;

`LIMIT` は取得するレコード数の上限を指定します。このケースだと`LIMIT 20` で20件に制限されます。取得されるレコードは先頭から順に20件となります。

もしデータを20件づつ繰り返し取得したい場合は、`OFFSET` を使って取り出すデータの先頭位置を指定します。

In [ ]:
%sql SELECT * FROM users LIMIT 20 OFFSET 20;

`OFFSET` はスキップする行数を指定します。このケースだと先頭から20番目までをスキップするので、21番目からのデータを取得します。

## 確認テスト

(1) fruitsテーブルの中身を全て表示し、一番IDの大きい数値を入力してください。

In [ ]:
%%sql

(2) usersテーブルの20番目のレコードにおけるnameカラムの値をそのまま入力してください。

In [ ]:
%%sql

(3) usersテーブルの30番目から50番目を取得し、30番目のnameカラムの値をそのまま入力してください。

(4) (3)で取得した50番目のnameのカラムの値をそのまま入力してください。

In [ ]:
%%sql